.elementor-kit-8{--e-global-color-primary:#0C3455;--e-global-color-secondary:#8DC63F;--e-global-color-text:#666666;--e-global-color-accent:#8DC63F;--e-global-color-8dd8311:#FFFFFF;--e-global-color-c95a4e3:#F5F5F5;--e-global-color-3f56a6f:#EEEEEE;--e-global-color-0a75ca9:#EF4123;--e-global-color-bfd54b7:#1A486E;--e-global-color-0c1cccb:#0E1A33;--e-global-color-46e8d4e:#02213B;--e-global-color-f9e0276:#40BA8D;--e-global-color-620737d:#6BAB14;--e-global-color-6e74492:#A3DF51;--e-global-color-3b53f13:#FF5C40;--e-global-color-8f052d9:#D6290B;--e-global-color-4a553f3:#F7941E;--e-global-color-c2e65ae:#333333;--e-global-color-0d68bf0:#121B21;--e-global-color-863389e:#666666;--e-global-color-db08d7c:#4FC3F7;--e-global-color-ffc26ce:#DDDDDD;--e-global-color-f73235d:#4B8200;--e-global-color-fcb81ad:#3152F5;--e-global-color-0ab9e1b:#3152F5;--e-global-color-6aa25fc:#3E3E3E;--e-global-color-c9d245f:#D0F79B;--e-global-color-d8bce40:#00AD48;--e-global-color-bbbb011:#008939;--e-global-typography-primary-font-family:"Montserrat";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Montserrat";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Montserrat";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Montserrat";--e-global-typography-accent-font-weight:500;--e-global-typography-c694ff4-font-family:"Montserrat";--e-global-typography-c694ff4-font-size:56px;--e-global-typography-c694ff4-font-weight:400;--e-global-typography-c694ff4-line-height:1em;--e-global-typography-7dc4454-font-family:"Montserrat";--e-global-typography-7dc4454-font-size:48px;--e-global-typography-7dc4454-font-weight:400;--e-global-typography-7dc4454-line-height:1.2em;--e-global-typography-174294f-font-family:"Montserrat";--e-global-typography-174294f-font-size:36px;--e-global-typography-174294f-font-weight:400;--e-global-typography-174294f-font-style:normal;--e-global-typography-174294f-line-height:1.2em;--e-global-typography-a08ba4d-font-family:"Montserrat";--e-global-typography-a08ba4d-font-size:30px;--e-global-typography-a08ba4d-font-weight:400;--e-global-typography-a08ba4d-font-style:normal;--e-global-typography-a08ba4d-line-height:1.2em;--e-global-typography-9faa886-font-family:"Montserrat";--e-global-typography-9faa886-font-size:24px;--e-global-typography-9faa886-font-weight:700;--e-global-typography-9faa886-font-style:normal;--e-global-typography-9faa886-line-height:1.2em;--e-global-typography-4fc95b5-font-family:"Montserrat";--e-global-typography-4fc95b5-font-size:18px;--e-global-typography-4fc95b5-font-weight:400;--e-global-typography-4fc95b5-font-style:normal;--e-global-typography-4fc95b5-line-height:1.4em;--e-global-typography-09c41d0-font-family:"Montserrat";--e-global-typography-09c41d0-font-size:16px;--e-global-typography-09c41d0-font-weight:400;--e-global-typography-09c41d0-font-style:normal;--e-global-typography-09c41d0-line-height:1.2em;--e-global-typography-8030a0a-font-family:"Montserrat";--e-global-typography-8030a0a-font-size:14px;--e-global-typography-8030a0a-font-weight:400;--e-global-typography-8030a0a-font-style:normal;--e-global-typography-8030a0a-line-height:1.4em;--e-global-typography-6ea3e44-font-family:"Montserrat";--e-global-typography-6ea3e44-font-size:18px;--e-global-typography-6ea3e44-font-weight:400;--e-global-typography-6ea3e44-font-style:normal;--e-global-typography-6ea3e44-line-height:1.2em;--e-global-typography-0a2bccd-font-family:"Montserrat";--e-global-typography-0a2bccd-font-size:27px;--e-global-typography-0a2bccd-font-weight:800;--e-global-typography-0a2bccd-font-style:normal;--e-global-typography-0a2bccd-line-height:1.2em;--e-global-typography-fd45ee5-font-family:"Montserrat";--e-global-typography-fd45ee5-font-size:22px;--e-global-typography-fd45ee5-font-weight:800;--e-global-typography-fd45ee5-font-style:normal;--e-global-typography-fd45ee5-line-height:1.2em;--e-global-typography-453b47d-font-family:"Montserrat";--e-global-typography-453b47d-font-size:38px;--e-global-typography-453b47d-font-weight:800;--e-global-typography-453b47d-font-style:normal;--e-global-typography-453b47d-line-height:1.2em;--e-global-typography-28ac77e-font-family:"Montserrat";--e-global-typography-28ac77e-font-size:20px;--e-global-typography-28ac77e-font-weight:200;--e-global-typography-28ac77e-font-style:normal;--e-global-typography-28ac77e-line-height:1.4em;--e-global-typography-4953138-font-family:"Montserrat";--e-global-typography-4953138-font-size:38px;--e-global-typography-4953138-font-weight:100;--e-global-typography-4953138-line-height:38px;--e-global-typography-89c9ea5-font-family:"Montserrat";--e-global-typography-89c9ea5-font-size:24px;--e-global-typography-89c9ea5-font-weight:400;--e-global-typography-89c9ea5-font-style:normal;--e-global-typography-89c9ea5-line-height:1.4em;--e-global-typography-351cb72-font-family:"Montserrat";--e-global-typography-351cb72-font-size:18px;--e-global-typography-351cb72-font-weight:400;--e-global-typography-351cb72-line-height:24px;--e-global-typography-59be326-font-family:"Montserrat";--e-global-typography-59be326-font-size:22px;--e-global-typography-59be326-font-weight:600;--e-global-typography-59be326-font-style:normal;--e-global-typography-59be326-line-height:1.2em;}.elementor-kit-8 a{color:var( --e-global-color-8f052d9 );font-weight:700;text-decoration:underline;}.elementor-kit-8 a:hover{color:var( --e-global-color-0a75ca9 );font-weight:700;text-decoration:none;}.elementor-kit-8 button,.elementor-kit-8 input[type="button"],.elementor-kit-8 input[type="submit"],.elementor-kit-8 .elementor-button{font-family:"Montserrat", Sans-serif;text-shadow:0px 0px 10px rgba(0,0,0,0.3);border-radius:50px 50px 50px 50px;padding:-5px -5px -5px -5px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-8 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}}/* Start custom CSS *//* BLOG */
/* remover */
.blog-list .post-thumbnail img {
    min-height: 210px;
}
.blog-list.blog-list--4 .post-thumbnail img {
    min-height: 137px;
}

.blog-list .jet-title-fields__item-ep_number {
    position: absolute;
    top: 10px;
    left: 10px;
}

.blog-list .jet-posts__terms {
    position: absolute;
    top: 206px;
    margin: 0;
}
.blog-list.blog-list--4 .jet-posts__terms {
    top: 140px;
}

.blog-list .jet-posts__inner-content {
    display: block !important;
}

.blog-list .jet-posts__inner-content .post-meta,
.blog-list .jet-posts__inner-content .jet-content-fields {
    display: inline-block;
    width: auto !important;
    margin-right: 5px;
}
/* remover */
.blog-list .jet-listing-dynamic-image img {
    min-height: 210px;
}
.blog-list.blog-list--4 .jet-listing-dynamic-image img {
     min-height: 137px;
}
.blog-list .elementor-widget-jet-listing-dynamic-terms {
    margin: 0;
}
.blog-list .elementor-widget-heading {
    margin-bottom: 7px;
}
.blog-list .jet-listing-dynamic-terms {
    margin-top: -30px;
}

.blog-list .jet-listing-dynamic-terms a {
    background-color: #fff;
    padding: 3px 13px 3px 0;
    border-radius: 0 10px 20px 0;
}

.blog-list .jet-listing-grid__slider-icon {
    border-radius: 50px;
    border: 2px #666 solid;
}

/* ZUPCAST */
.podcast-featured .jet-posts__inner-box {
    padding-right: 440px;
    min-height: 422px;
    justify-content: flex-end;
}
.podcast-featured .jet-posts__inner-box .post-thumbnail {
    position: absolute;
	width: 420px;
	right: 0;
}
.podcast-featured .jet-posts__inner-box .jet-posts__terms {
	position: relative;
}

.podcast-featured .jet-posts__inner-box .jet-title-fields__item-ep_number {
	position: absolute;
	top: 10px;
	left: 10px;
}

.podcast-featured .jet-posts__inner-box .jet-posts__inner-content {
    display: block !important;
    flex-grow: 0 !important;
}
.podcast-featured .jet-posts__inner-content .post-meta,
.podcast-featured .jet-posts__inner-content .jet-content-fields {
    display: inline-block;
    width: auto !important;
    margin-right: 5px;
}


.podcast-list .jet-listing-dynamic-image {
    display: block;
	background-color: #6BAB14;
    text-align: right;
    padding: 1px;
    line-height: 0;
}
.podcast-list .jet-listing-dynamic-image img {
	display: inline-block;
    max-width: 210px;
}
.podcast-list .ep_number {
    position: absolute;
    top: 9px;
    left: 9px;
    font-size: 30px;
    font-weight: bold;
}
.podcast-list .ep_number label {
    font-size: 13px;
    display: block;
    line-height: 10px;
    margin-top: 5px;
}
.podcast-list .elementor-widget-jet-listing-dynamic-terms {
    margin: -32px 0 0;
}
.podcast-list .jet-listing-dynamic-terms a {
    background-color: #fff;
    padding: 3px 13px 3px 0;
    border-radius: 0 10px 20px 0;
}
.podcast-list .elementor-widget-heading {
    margin-bottom: 10px;
}
.podcast-list .elementor-widget-shortcode {
    color: #777;
}



/*old remover */
.podcast-list .jet-posts__inner-box {
    position: relative;
}
.podcast-list .post-thumbnail {
	background-color: #6BAB14;
    text-align: right;
}
.podcast-list .post-thumbnail img{
	display: inline-block;
    max-width: 210px;
}

.podcast-list .jet-title-fields__item-ep_number {
    position: absolute;
    top: 10px;
    left: 10px;
}

.podcast-list .jet-posts__terms {
    position: absolute;
    top: 196px;
    margin: 0;
}

.podcast-list .jet-posts__inner-content {
    display: block !important;
}

.podcast-list .jet-posts__inner-content .post-meta,
.podcast-list .jet-posts__inner-content .jet-content-fields {
    display: inline-block;
    width: auto !important;
    margin-right: 5px;
}/* End custom CSS */