*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.wrapper2{
    background-color: rgb(221,161,171);
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.checkbox2{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;/*para deixar os traços relativos a ele, o checkbox*/
    cursor: pointer;
}
.checkbox2 .trace2{
    width: 45px;
    height:8px ;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;


}
/* Configurando os traços*/
.checkbox2 .trace2:nth-child(1){
    top: 26px;
    transform: rotate(-45deg);
}/*
.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}*/
.checkbox2 .trace2:nth-child(2){
    top: 26px;
    right: 1px;
    transform: rotate(-130deg);
}
#toggle2{
    display: none;
}/*
#toggle2:checked + .checkbox2 .trace2:nth-child(1) {/*o simbolo de adição +, é um seletor que significa o que está dentro*//*
    transform: rotate(60deg);
    top: 47px;
}

/*#toggle:checked + .checkbox .trace:nth-child(2){
   transform: translateX(-100px);
   width: 30px;
   visibility: hidden;
   opacity: 0;
}*//*
#toggle:checked + .checkbox .trace:nth-child(2){
   transform: rotate(-60deg);
   top: 48px;
}*/